@font-face {
    font-family: 'Futura-Med';
    src: url('/fonts/Futura-Med.ttf') format('woff');
    url('/fonts/Futura-Med.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    position: relative;
    text-align: center;
    color: #333;
    margin: 0 auto;
    font-family: 'ヒラギノ角ゴ ProN W3';
}

.header {
    height: 100vh;
    /*    width: 100vw;*/
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.header-logo {
    width: 100%;
/*    overflow: hidden;*/
    position: relative;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    margin-top: 12%;
    justify-content: center;
    align-items: center;
}

.header ul {
    text-align: right;
}

.header li {
    display: inline-block;
    list-style-type: none;
    position: top;
}

nav a {
    font-size: 27px;
    font-family: "Futura-Med";
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
    margin-right: 35px;
    transition: 0.5s;
    position: relative;
}

nav a:hover {
    color: #3d5cdb;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-style: italic;
    margin-top: 45px;
    font-family: "Futura-Med";
}

h2 {
    color: #3d5cdb;
    font-size: 60px;
    padding: 50px;
    margin-top: 10px;
    font-family: "Futura-Med";
}

.introduction {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.detail {
    width: 100vw;
/*    height: 800px;*/
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.detail p {
    overflow: hidden;
    width: 400px;
    height: 300px;
    text-align: left;
    line-height: 30px;
}

.intro1 img {
    margin-right: 90px;
    margin-left: 10%;
    float: left;
}

.intro1 p {
    margin-top: 12px;
}

.intro2 {
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
}

.intro2 img {
    float: left;
    overflow: visible;
    margin-left: 90px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.intro2 p {
    margin-top: 25px;
    margin-bottom: 60px;
    margin-left: 12%;
    float: left;
}

.detail p{
    justify-content: center;
    align-items: center;
}

.detail a {
    margin-top: 30px;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 7px 50px;
    color: #fff;
    border: 1px solid #3b5998;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.5s;
}


a:hover {
    box-shadow: 0 0 10px gray;
}

a.bluebox {
    background: #3d5cdb;
    position: absolute;
}

a.yellowbox {
    background: #ffbf00;
    position: absolute;
}

.courses {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: table;
    overflow: hidden;
}

.courses-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.title-courses {
    position: relative;
}

.detail-courses {
    position: relative;
    background-color: #fff;
    padding: 30px;
    margin: 20px 10px 10px;
    float: left;
    border-radius: 12px;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -10;
    background-color: #D6E6F9;
}

.detail-courses img {
    margin: 10px;
}

/*
.detail-courses a {
    border-radius: 12px;
    margin-bottom: -10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
*/

/*
.html-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
}

.html-image img{
    width: 100px;
    margin: 0 auto;
    
}
*/

h3 {
    padding-bottom: 30px;
    font-size: 15px;
}

.detail-courses a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    border-radius: 12px;
}

figure {
    height: 160px;
    width: 180px;
}

.first-line {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#html img {
    padding-top: 7px;
}

#html a {
    background-color: #F1662B;
}

#css a {
    background-color: #29AADF;
}

#unity img {
    padding-top: 12px;
}

#unity a {
    background-color: #333;
}

#ruby img {
    padding-top: 10px;
}

#ruby a {
    background-color: #FE5253;
}

/*
.second-line{
    display: flex;
    justify-content: center;
}
*/

#js a {
    background-color: #FED702;
}

#swift a {
    background-color: #FE7536;
}

#go a {
    background-color: #73CEDE;
}

.images {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.slider {
    margin: 0px auto;
    width: 80%;
}

.slider img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.access{
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #3d5cdb;
    margin-top: 65px;
    margin-bottom: 25px;
    font-family: "Futura-Med"
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@media screen and (max-width: 900px){
    .header-logo img{
        width: 80vw;
    }
}

@media screen and (max-width : 450px) {

    .detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}
